
.homepage-container {
    background:  #2b2549;
    background: linear-gradient(50deg, #2a2449 0%, #241f3e 60%, #2f284f 100%);
    width:100%;
    height:100vh;
    align-items: flex-end;
    display:flex;
    justify-content: center;


    
}
.header-end{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

header .svg-inline--fa{
    color: #c6c6c6fa;
    font-size: 1.5rem;
    cursor: pointer;
}
header .svg-inline--fa:hover{
    color: #fffffffa;
}

.middle-container {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    height: calc(100% - 60px);
    width: 80%;
    padding-top: 20px;

}
.sign-in-container {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background: rgb(28,125,191);
    background: linear-gradient(13deg, rgba(28,125,191,1) 0%, rgba(26,94,214,1) 60%, rgba(64,135,190,1) 100%);
    padding: 0 30px; 
    border-radius: 20px;
    width:100%;
    box-shadow: 0 0 15px 2px rgb(0 0 0 / 20%);
}
.sign-in-container h1 {
    color: #ddddddfa;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0;
    line-height: 3rem;
}
.sign-in-container h2 {
    color: #ddddddfa;
    font-weight: 200;
    font-size: 1rem;
    margin: 0;
}
.sign-in-container button {
    background-color: transparent;
    color: #fffffffa;
    font-weight: 500;
    font-size: .9rem;
    text-align: center;
    padding: 10px 20px;
    border-radius: 15px;
    margin-top: 20px;
    border: none;
    border: 2px solid #ffffff;
    cursor: pointer;
}
.sign-in-container img {
    width: 300px;
    margin: 0 0px 0 0;
}

.bets-container {
    background-color: #ebebeb14;
    box-shadow: 0 0 15px 2px rgb(0 0 0 / 20%);
    width:100%;
    border-radius: 15px;
    padding: 20px 20px;
}
.bets-container-header {
    width:100%;
    display:flex;
    gap: 20px;

}
.bets-container-header span {
    color: #ddddddfa;
    font-weight: 300;
    font-size: .8rem;
    margin: 0;
    background-color: #7a7a7a3b;
    padding: 10px;
    border-radius: 10px;
}
.bets-container-header span:hover {
    background-color: #ffffff67;
    color: #fffffffa;
    cursor: pointer;
}
.bet-container-match {
    display:flex;
    flex-direction: column;
    margin-top: 20px;
}
.game-container { 
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    animation: fadeIn 1s;
}
.game-container-pool {
    width: 200px;
    height: 200px;
    position:relative

}
.game-container-pool:hover {
    cursor: pointer;
}
.game-container-pool:hover img {
    filter: grayscale(55%) blur(2px) brightness(.5);
    box-shadow: 2px 2px 20px 2px rgba(255, 255, 255, 0.6);
}
.game-container-pool:hover p {
    color: #fffffffa;
}
.game-container-pool:hover h1 {
    color: #fffffffa;
}
.game-container-pool img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 20px;
    filter: grayscale(90%) blur(1px) brightness(0.3);

}
.game-container-pool h1 {
    color: #a1a1a1fa;
    font-weight: 500;
    text-align: center;
    font-size: 1rem;
    margin: 0;
}
.game-container-pool p{
    position:absolute;
    color: #fafafa4c;
    z-index: 100;
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin-top: 32px;
    font-size: 2rem;
}
.bet-container-match-header {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: 10px 0 20px 0;
    width:100%;
}
@keyframes fadeIn {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.bet-container-match-header img {
    width: 80px;
}
.bet-container-match-header h4 {
    color: #ddddddfa;
    font-weight: 500;
    font-size: 1rem;
    margin: 0;
}
.bet-container-game {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border:2px solid rgba(122, 122, 122, 0.12);
    border-radius: 15px;
    position:relative;
}
.bet-container-game button {
    position:absolute;
    right:0;
    margin-right: 10px;
    background-color: transparent;
    border: 1px solid #b3b3b3;
    color: #b3b3b3;
    border-radius: 10px;
    padding: 10px 10px;
    cursor: pointer;
}
.bet-container-game button:hover {
    color: #ffffff;
    border: 1px solid #ffffff;
}
.bet-container-game img {
    width: 40px;
    margin: 15px 15px;
    padding:5px;
    background-color: #ffffffb5;
    border-radius: 10px;
}
.bet-container-game p {
    color: #ddddddfa;
    font-weight: 300;
    font-size: 1rem;
    width: 140px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
}
.second-team {
    text-align: end;
}
.bet-container-game span {
    color: #ddddddfa;
    font-weight: 300;
    font-size: 1rem;
    margin: 0;
    padding: 12px 15px;
    text-align: center;
    border-radius: 10px;
    background-color: #76767672;
}
.game-time {
    position:absolute;
    left:0;
    color: #fafafa63;
    margin-left: 10px;
}
.game-time h5 {
    font-weight: 300;
    font-size: .7rem;
    margin: 0;
}
.game-time h6 {
    font-weight: 700;
    font-size: .8rem;
    margin: 0;
}

.pool-container {
    background-color: #ebebeb14;
    box-shadow: 0 0 15px 2px rgb(0 0 0 / 20%);
    width:100%;
    height: 80%;
    border-radius: 15px;
    padding: 20px 20px;
    margin: 20px 0;
    animation: slide-to-left-in .5s ease-in-out;
}
.pool-container-header {
    display:flex;
    flex-direction: row;
    align-items: center;
    width:100%;
    margin-bottom: 20px;
    position: relative;
}
.pool-container-header .svg-inline--fa {
    color: #c7c7c7;
    font-size: 1.5rem;
    background-color: #9797973d;
    padding: 6px 20px;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
    position:absolute
}
.pool-container-header .svg-inline--fa:hover {
    color: #ffffff;
    background-color: #979797;
}
.pool-container-header h1 {
    color: #ddddddfa;
    font-weight: 500;
    font-size: 1.5rem;
    margin: 0;
}
.pool-container-header h2 {
    color: #ddddddfa;
    font-weight: 300;
    font-size: 1rem;
    margin: 0;
}
.pool-container-header img {
    width: 100px;
    margin: 0px 10px;
    background-color: #e2e2e2;
    padding: 5px;
    border-radius: 10px;
}
.pool-container-header span {
    display:flex;
    flex-direction: row;

}
.pool-container-title{
    display:flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid #c7c7c752;
    padding-bottom: 10px;
    margin-bottom: 10px;
}


.pool-container-header button {
    background-color: transparent;
    position:absolute;
    right:0;
    outline: none;
    border: 2px solid #b3b3b3;
    padding: 10px 20px;
    border-radius: 10px;
    color: #b3b3b3;
    cursor: pointer;
}
.pool-container-header button:hover {
    color: #ffffff;
    border: 2px solid #ffffff;
}
.pool {
    width: 300px;
    height: 300px;
    background-color: #7a7a7a;
}
.pool-container-content {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width:100%;

}
.pool-bets {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
}
.pool-container-content section {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
    gap: 20px;
    margin-bottom: 40px;
}
.pool-container-content table {
    width: 100%;
    border-spacing: 0;
}
.pool-container-content table th {
    padding: 10px 0;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    font-size: 1rem;
}
.pool-container-content table img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
    padding: 3px;
    background-color: #fafafa;
    border-radius: 5px;
}
.pool-container-content table tr {
    padding: 10px 0;
    background-color: #241f3e;
    border-bottom: 1px solid #ffffff
}
.pool-container-content table tr td{
    padding: 10px 0;
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    font-size: 1rem;
}
.pool-container-content table span  {
    display:flex;
    flex-direction: row;

    align-items: center;

}
.pool-container-team {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background-color: #1b182ea8;
    box-shadow: 0 0 15px 2px rgb(0 0 0 / 20%);
    padding: 20px 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.pool-container-team:hover {
    background-color: #1b182e;
    cursor: pointer;
    box-shadow: 0 0 15px 2px rgba(255, 255, 255, 0.454);
}
.pool-container-team:hover h1 {
    color: #ffffff;
}
.pool-container-team:hover img{
    background-color: #ffffff;
    filter:blur(0px) grayscale(0%);
}
.pool-container-team h1 {
    color: #bbbbbbfa;
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    margin: 0 0 10px 0;
}
.pool-container-team img {
    width: 100px;
    margin: 0px 10px;
    background-color: #e2e2e2cd;
    padding: 5px;
    border-radius: 10px;
    filter:blur(2px) grayscale(70%);
}
.bets-container-slide-out {
    animation: slide-to-left-out .4s ease-in-out;

}

@keyframes slide-to-left-out {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}
@keyframes slide-to-left-in {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
    





.homepage-split {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    height:100vh;
}
.homepage-textbox{
    width: 45%;
    padding: 2rem 3rem 2rem 3rem;
    gap: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.homepage-imagebox {
    background-color: rgba(201, 201, 201, 0.191); 
    border-radius: 20px;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.homepage-textbox h1 {
    color: #ddddddfa;
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
    margin: 0;
    line-height: 3rem;

}
.homepage-item-container{
    max-height: 50vh;
    overflow: scroll;
    display:flex;
    padding: 1rem 2rem;
    flex-direction: column;
    justify-content: start;
    align-items: start;

}
.homepage-imagebox h1 {
    color: #b6b6b6be;
    font-weight: 500;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    margin: 15px 0 10px 0;


}
.homepage-textbox {
    width: 45%;
    padding: 2rem 3rem 2rem 3rem;
    gap: 20px;
    
}
.homepage-textbox button {
    align-self: center;
    background-color: #272042;
    color: #ddddddfa;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    padding: 15px 30px;
    border-radius: 15px;
    margin: 0 10px;
    border: none;
    border: 2px solid #7a7a7a;
    cursor: pointer;
}
.homepage-item {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 0 10px 0;
    padding: 10px 10px;
    border-bottom: 1px solid #dddddd29;
    color: #7a7a7a;
}
.homepage-item img {
    width: 30px;
    height: 30px;
    margin: 0 0px 0 0;
}
.homepage-item div {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.homepage-item p {
    color: #bebebefa;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    max-width: 130px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.homepage-item span {
    color: #ddddddfa;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    padding: 15px;
    background-color: rgba(227, 227, 227, 0.324);
    border-radius: 15px;
    margin: 0 10px;
}
.homepage-item:hover {
    background-color: rgba(227, 227, 227, 0.324);
    border-radius: 15px;
    cursor: pointer;
}
header{
    background-color: #272042;
    width:100%;
    position: absolute;
    top: 0;
    z-index: 100;
    left: 0;
    padding: 5px 30px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dddddd0d;
    box-shadow: 0 0px 45px 5px rgba(0, 0, 0, 0.362);
}
header button {
    background-color: #98989823;
    color: #ddddddfa;
    font-weight: 500;
    font-size: .9rem;
    text-align: center;
    padding: 10px 20px;
    border-radius: 15px;
    margin: 5px 10px;
    border: none;
    cursor: pointer;
}
header h1 {
  color: #ddddddfa;
    font-size: 2rem;
    font-weight: 400;  
    font-family: 'Tourney', cursive;
    text-align: center;
    margin: 0;

}

.homepage-textbox h2 {
    color: #ddddddfa;
    font-weight: 300;
        font-size: .9rem;  
        text-align: center;
        margin: 0;
}

.side-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    min-width: 200px;
    height: 100%;
    background-color: #1e1834;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    z-index: 100;
    animation: slideLeft .2s ease-in-out;
}
.pool-side-drawer {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    min-width: 200px;
    height: 100%;
    background-color: #1e1834;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    z-index: 100;
    animation: slideLeft .2s ease-in-out;
}
.pool-side-drawer h1 {
    color: #ddddddfa;
    font-size: 2rem;
    font-weight: 400;  
    text-align: center;
    margin: 0;
}
.side-menu-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    margin-top: 35px;
}

.side-menu-body{
    width: 100%;
}
.side-menu-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 10px 0;
    color: #c6c6c6fa;
    font-weight: 500;
    font-size: 1.1rem;
    cursor: pointer;
}
.side-menu-item:hover {
    background-color: rgba(227, 227, 227, 0.324);
}
.side-menu-item p {
    color: #c6c6c6fa;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    margin: 0;
}
.header-start {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:5px;
}
.side-menu .svg-inline--fa, .pool-side-drawer .svg-inline--fa {
    color: #c6c6c6fa;
    font-size: 1.2rem;
    cursor: pointer;
    position:absolute;
    top:0;
    left:0;
    padding: 10px 20px;    
}
.side-menu-header .svg-inline--fa {
    color: #c6c6c6fa;
    font-size: 3rem;
    cursor: pointer;
    position:relative;
}.side-menu-item .svg-inline--fa{
    color: #c6c6c6fa;
    font-size: 1rem;
    cursor: pointer;
    position:relative;
    width: 28px;
    padding: 0px 15px;
    
}
.side-menu-container, .pool-side-drawer-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.side-menu-background {
    width: 100%;
    height: 100%;
    z-index: 99;
}

.pools-container {
    width: 100%;
    height: calc(100vh - 57px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pools-container .homepage-textbox {
    width:100%;
    gap: 5px;
    padding: 10px 20px 10px 20px;
}
.pools-container h1 {
    color: #ddddddfa;
    font-size: 1.6rem;
    line-height: 1rem;
    font-weight: 400;  
    text-align: center;
    margin: 0;
}
.pools-content {
    height: 87%;
    width: 100%;
}
.pools-row {
    padding: 5px 5% 20px 5%;
    display: flex;
    gap: 20px;
}
.pools-title {
    width:100%;
    padding: 30px 5% 10px 5%;
}
.pools-title h1 {
    color: #afafaffa;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 500;  
    text-align: start;
    margin: 0;
}
.pool-item {
    width: 260px;
    border-radius: 15px;
    padding: 10px 0;
    background-color: #ebebeb14;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.2);
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.pool-item:hover {
    box-shadow: 0 0 15px 2px rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.pool-item h3 {
    color: #ddddddfa;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;  
    text-align: center;
    margin: 0;
    padding: 20px 0 5px 0;
}

.pool-item img {
    width: 70%;
}



@keyframes slideLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
    
}

